.row {
    padding: 20px;
    background: #c4b789cc;
    margin-left: 5px;
}

#encabezado {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #c4b789cc;
}




/* etiquta nombre*/
#nombre {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10px;
}

h1,
p {
    text-align: center;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

h4 {
    margin-left: 10px;
    text-align: center;
}


.parte1,
.parte2 {
    display: inline-block;
    text-align: justify;
}

.foto-perfil {
    width: 100%;
    max-width: 200px;
    height: auto;
}