.row{
    padding: 20px;
    background:#c4b789cc;
    margin-left:5px;
}


h1 , h3 {
    display: inline;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Alata', sans-serif;

}