<section class="vh-100" style="background-color: #c4b789cc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://media.istockphoto.com/vectors/glowing-neon-open-padlock-icon-isolated-on-brick-wall-background-vector-id1200136277?k=20&m=1200136277&s=170667a&w=0&h=LpDec4-U6Xy7sNEXXExu61TtQsr9djYO7ArcNYigVek="
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">



                <div class="d-flex align-items-center mb-3 pb-1">
                  <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                  <span class="h1 fw-bold mb-0">Log</span>
                </div>
                <form>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Por favor, ingrese a su cuenta</h5>

                  <form #f="ngForm" (ngSubmit)="onLogin($event)" novalidate>


                    <div class="form-outline mb-4">
                      <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg"
                        [(ngModel)]="nombreUsuario" required />
                      <label class="form-label" for="nombreUsuario">Usuario</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="password" name="password" class="form-control form-control-lg"
                        [(ngModel)]="password" required />
                      <label class="form-label" for="password">Password</label>
                    </div>

                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>

                    <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->

                  </form>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">No tienes una cuenta? <a href="#!"
                      style="color: #393f81;">Registrate aqui</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>