<div class="row">
    <div class="conteiner">

        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="" id="logoAp">
        </div>

        <div class=" redes">
            <div>
                <a href="https://www.linkedin.com/in/ignacio-andr%C3%A9s-gonzalez-710505140/"><img
                        src="../../../assets/linkedin.png" alt="linkedin"></a>
                <a href="https://twitter.com/Nacho84628781"><img src="../../../assets/twitter.png" alt="twitter"></a>
                <a href=""><img src="../../../assets/instagram.png" alt="instagram"></a>
                <a href="https://github.com/IgnacioGonzal"><img src="../../../assets/github.png" alt="github"></a>
                <a href="https://www.facebook.com/profile.php?id=100058540112581"><img
                        src="../../../assets/facebook.png" alt="facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar
                    Sesión</button>

            </div>
        </div>
    </div>

</div>