.row {
    padding: 20px;
    background-color:#c4b789cc;
    margin-left:5px;
}

.conteiner {
    width: 50px;;
}

.parte1, .parte2 {
    display: inline-block;
    text-align:justify;
}

.img-proyecto{
    box-shadow: 10px 30px 30px #000000;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Alata', sans-serif;

}

