<div class="row">
    <h1>Proyectos</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let proyectos of Proyectos">
                    <td>
                        <h2>{{proyectos.nombreP}}</h2>
                    </td>
                    <td>{{proyectos.descripcionP}}</td>
                    <td>
                        <h2>{{proyectos.imgP}}</h2>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproyecto/{{proyectos.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(proyectos.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>